<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Confirmação de Registro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Código de identificação: <span th:text="${aprendiz.id}"> </span>
		</h1>

		<p>
			<b>Aprendiz:</b> <span th:text="${aprendiz.nome}"></span> <br>
			<br> Telefone:<span th:text="${aprendiz.telefone}"></span> <br>
			Email: <span th:text="${aprendiz.email}"></span> <br>
			CPF: <span th:text="${aprendiz.cpf}"></span>, data de nascimento <span th:text="${#temporals.format(aprendiz.dataNascimento, 'dd/MM/yyyy')}"></span> <br>
		    CPF do Responsável: <span th:text="${aprendiz.cpfResp}"></span>, telefone do responsável <span th:text="${aprendiz.telefoneResp}"></span> <br><br>
		    Endereco: <span th:text="${aprendiz.endereco.endereco}"></span> 
		    <span th:text="${aprendiz.endereco.complemento}"></span> - 
		    <span th:text="${aprendiz.endereco.bairro}"></span>, 
		    <span th:text="${aprendiz.endereco.cidade.nome}"></span> - 
		    	 <br>
			
		</p>

	</div>
</body>
</html>